.row{   

    background-color:black;
    color:white;
    font-size:20px;
    display:flex;
    justify-content: space-between;
    padding-right: 20px;
}
.headshot{
    width:20%;
   
}
.mid{
    background-color:white;
    color:black;
    align-items:center;
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
}
.aboutme{
    border:10px solid black;
    
    
}
#img1{
    width:100%;
    
}
.headshot{
    transform: rotate(90deg);
}
.links{
  background-color: #ADD8E6;

    
}
a:link{
    color: gold;
}
a:visited{
    color: red;

}
a:hover{
    color: blue;
}
a:active{
    color: yellow;
}
p {
    font-family: 'Open Sans Condensed', sans-serif;

}
a{
    font-family: 'Open Sans Condensed', sans-serif;

}